version: "3.9"

services:
  mongo_db:
    image: mongo:7.0
    container_name: ${MONGO_CONTAINER_NAME}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_network
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

  postgres_db:
    image: ${POSTGRES_IMAGE}:${POSTGRES_IMAGE_TAG}
    container_name: ${POSTGRES_CONTAINER_NAME}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_network
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  redis_db:
    image: redis:${REDIS_VERSION}
    container_name: ${REDIS_CONTAINER_NAME}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend_network
    command: redis-server --requirepass ${REDIS_PASSWORD}

  opensearch_node:
    image: opensearchproject/opensearch:${OPENSEARCH_VERSION}
    container_name: ${OPENSEARCH_CONTAINER_NAME}
    ports:
      - "${OPENSEARCH_HTTP_PORT}:9200"
      - "${OPENSEARCH_TRANSPORT_PORT}:9300"
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    networks:
      - backend_network
    environment:
      discovery.type: single-node
      bootstrap.memory_lock: "true"
      OPENSEARCH_JAVA_OPTS: ${OPENSEARCH_JAVA_OPTS}
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: ${OPENSEARCH_INITIAL_ADMIN_PASSWORD}
      plugins.security.disabled: "true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

  opensearch_dashboards:
    image: opensearchproject/opensearch-dashboards:${OPENSEARCH_DASHBOARDS_VERSION}
    container_name: ${OPENSEARCH_DASHBOARDS_CONTAINER_NAME}
    ports:
      - "${DASHBOARDS_PORT}:5601"
    networks:
      - backend_network
    depends_on:
      - opensearch_node
    environment:
      server.host: "0.0.0.0"
      OPENSEARCH_HOSTS: '["http://opensearch_node:9200"]'

  label_studio:
    image: heartexlabs/label-studio:${LABEL_STUDIO}
    container_name: ${LABEL_STUDIO_CONTAINER_NAME}
    ports:
      - "${LABEL_STUDIO_PORT}:8080"
    volumes:
      - label_studio_data:/label-studio/data
    networks:
      - backend_network
    depends_on:
      - postgres_db
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB_LS}"

networks:
  backend_network:
    driver: bridge

volumes:
  mongo_data:
    name: mongo_data
    driver: local
    driver_opts:
      type: none
      device: ${MONGO_DATA_PATH}
      o: bind

  postgres_data:
    name: postgres_data
    driver: local
    driver_opts:
      type: none
      device: ${POSTGRES_DATA_PATH}
      o: bind

  redis_data:
    name: redis_data
    driver: local
    driver_opts:
      type: none
      device: ${REDIS_DATA_PATH}
      o: bind

  opensearch_data:
    name: opensearch_data
    driver: local
    driver_opts:
      type: none
      device: ${OPENSEARCH_DATA_PATH}
      o: bind

  label_studio_data:
    name: label_studio_data
    driver: local
    driver_opts:
      type: none
      device: ${LABEL_STUDIO_DATA_PATH}
      o: bind